h1 {
  color: blue;
}

body {
  background-color: antiquewhite;
}
.card {
  border: 2px solid black;
  border-radius: 30px;
  width: 350px;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: aquamarine;
}

.card img {
  width: 100%;
}

.card button {
  width: 70%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.card button:hover {
  background-color: burlywood;
  color: black;
  cursor: pointer;
}
